<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
		<xacro:macro name="robot_gazebo">
				
				<gazebo>
						<plugin name="gazebo_ros2_control"
								filename="libgazebo_ros2_control.so">
								<parameters>$(find leg_assembly_moveit_config)/config/ros2_controllers.yaml</parameters>
						</plugin>
				</gazebo>
		</xacro:macro>
</robot>
