<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
		<xacro:macro name="robot_gazebo">
				
				<gazebo>
				
						<physics type="ode">
								<max_step_size>0.001</max_step_size>
								<real_time_update_rate>1000</real_time_update_rate>
						</physics>
						<plugin name="gazebo_ros2_control"
								filename="libgazebo_ros2_control.so">

								
								<parameters>$(find leg_assembly_moveit_config)/config/gz_ros2_controllers.yaml</parameters>

						</plugin>
				</gazebo>
		</xacro:macro>
</robot>
